<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <center>
    <h1>{{ title }}</h1>
  </center>

  <div class="container">
  <center>
    <div class="chart">
      <div class="radioButtons">
        <a href="/get_stats"><button class="button">Table</button></a>
        <a href="/fgp_chart"><button class="button">FG%</button></a>
        <a href="/tpp_chart"><button class="button">3P%</button></a>
        <a href="/ftp_chart"><button class="button">FT%</button></a>
        <a href="/rpg_chart"><button class="button">RPG</button></a>
        <a href="/apg_chart"><button class="button">APG</button></a>
        <a href="/spg_chart"><button class="button">SPG</button></a>
        <a href="/bpg_chart"><button class="button">BPG</button></a>
        <a href="/ppg_chart"><button class="button">PPG</button></a>
        <a href="/"><button class="button">Home Page</button></a>
      </div>
    <canvas id="chart" width="500" height="300" style="padding-top: 2em;"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
	],

        datasets : [{
          fillColor: "rgba(4,170,109,0.2)",
          strokeColor: "rgba(4,170,109,1)",
          pointColor: "rgba(4,170,109,1)",
          data : [
            {% for item in values %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }

     // get bar chart canvas
     var mychart = document.getElementById("chart").getContext("2d");

       steps = 10
       max = {{max}}

     // draw bar chart
     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );

    </script>
    {{data}}
  </center>
  </div>
  </div>
</body>
</html>